{% extends 'app.html.twig' %}

{% block title %}Contacts Us{% endblock %}

{% block body %}
<div class="contactHero_picture"></div>
<main>
  <div class = "contactUs_page">
          <div class="contact_Page">
            <!-- Title on form-->
              <h1>Contact Us</h1>
              <div class="ContactUsText">
                  {{ form_start(contactsForm) }}
                    <!--Label and text box for first name -->
                      <div class = "firstName_ContactUS">
                          {{ form_row(contactsForm.firstName) }}
                          <br>
                      </div>
                    <!--Label and text box for last name -->
                      <div class = "lastName_ContactUS">
                          {{ form_row(contactsForm.lastName) }}
                          <br>
                      </div>
                      <div class = "email_ContactUS">
                    <!--Label and text box for email -->
                          {{ form_row(contactsForm.email) }}
                          <br>
                      </div>
                    <!--Label and text box for message -->
                      <div class = "contact_message">
                          {{ form_row(contactsForm.message) }}
                          <br>
                      </div>
                    <!--Button to send the message -->
                      <button type="submit" class="btn">Send</button>
                  {{ form_end(contactsForm) }}

                  {% for message in app.flashes('success') %}
                            <div class="success-message">
                                {{ message }}
                            </div>
                {% endfor %}

              </div>
          </div>
      </div>

  </main>
{% endblock %}
