{% extends 'app.html.twig' %}

{% block title %}My Schedule{% endblock %}

{% block body %}

<div class = "ScheduleHero_picture"></div>
<main>


    <div class = "scheduleContacts">
        <div class = "contactUs_page">
          <div class="contact_Page">
            <!-- Title on form-->
              <h1>Schedule Preference</h1>

              <div class="ContactUsText">
                  {{ form_start(contactsForm) }}
                    <!--Label and text box for first name -->
                      <div class = "firstName_ContactUS">
                          {{ form_row(contactsForm.firstName) }}
                          <br>
                      </div>
                    <!--Label and text box for last name -->
                      <div class = "lastName_ContactUS">
                          {{ form_row(contactsForm.lastName) }}
                          <br>
                      </div>
                      <div class = "email_ContactUS">
                    <!--Label and text box for email -->
                          {{ form_row(contactsForm.email) }}
                          <br>
                      </div>
                    <!--Label and text box for message -->
                      <div class = "contact_message">
                          {{ form_row(contactsForm.message) }}
                          <br>
                      </div>
                    <!--Button to send the message -->
                      <button type="submit" class="btn">Send</button>
                  {{ form_end(contactsForm) }}

                {% for message in app.flashes('success') %}
                            <div class="success-message">
                                {{ message }}
                            </div>
                {% endfor %}

              </div>
          </div>
        </div>
    </div>
    <div class = "scheduler">

    <div class = "firstSection">
        <section>
            <h2>Individual Appointments</h2>
            <ul>
            {% for appointment in appointments %}
                {% if appointment.cohort.id is not defined %}
                <li>
                    <div class="appointment-info">
                    <div class="appointment-date">{{ appointment.appointmentDate|format_date() }}</div>
                    <div class="appointment-time">{{ appointment.startTime|format_time() }} - {{ appointment.endTime|format_time() }}</div>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </section>
    </div>
        <section>
            <h2>Group Meetings</h2>
            <ul>
            {% for appointment in appointments %}
                {% if appointment.cohort.id is defined %}
                <li>
                    <div class="appointment-info">
                    <div class="appointment-date">{{ appointment.appointmentDate|format_date() }}</div>
                    <div class="appointment-time">{{ appointment.startTime|format_time() }} - {{ appointment.endTime|format_time() }}</div>
                    </div>
                    <div class="group-meeting">{{ appointment.cohort.groupName }}</div>
                    <div class="group-meeting">{{ appointment.cohort.groupDescription }}</div>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </section>
    </div>

</main>
{% endblock %}
